# EDA

### Step 1: Problem statement and data collection

In [40]:
import pandas as pd

total_data = pd.read_csv('/workspaces/JLL_Linear_Regression_Regilarized/data/raw/health_insurance_data.csv', sep=',')
total_data.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

### Step 2: Exploration and data cleaning

In [41]:
total_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Non-Null Count  Dtype
---   ------                                                                         --------------  -----
 0    fips                                                                           3140 non-null   int64
 1    TOT_POP                                                                        3140 non-null   int64
 2    0-9                                                                            3140 non-null   int64
 3    0-9 y/o % of total pop                                                         3140 non-null   float64
 4    19-Oct                                                                         3140 non-null   int64
 5    10-19 y/o % of total pop                                                       3140 non-null   float64
 6    20-29                                                                          3140 non-null   int64
 7    20-29 y/o % of total pop                                                       3140 non-null   float64
 8    30-39                                                                          3140 non-null   int64
 9    30-39 y/o % of total pop                                                       3140 non-null   float64
 10   40-49                                                                          3140 non-null   int64
 11   40-49 y/o % of total pop                                                       3140 non-null   float64
 12   50-59                                                                          3140 non-null   int64
 13   50-59 y/o % of total pop                                                       3140 non-null   float64
 14   60-69                                                                          3140 non-null   int64
 15   60-69 y/o % of total pop                                                       3140 non-null   float64
 16   70-79                                                                          3140 non-null   int64
 17   70-79 y/o % of total pop                                                       3140 non-null   float64
 18   80+                                                                            3140 non-null   int64
 19   80+ y/o % of total pop                                                         3140 non-null   float64
 20   White-alone pop                                                                3140 non-null   int64
 21   % White-alone                                                                  3140 non-null   float64
 22   Black-alone pop                                                                3140 non-null   int64
 23   % Black-alone                                                                  3140 non-null   float64
 24   Native American/American Indian-alone pop                                      3140 non-null   int64
 25   % NA/AI-alone                                                                  3140 non-null   float64
 26   Asian-alone pop                                                                3140 non-null   int64
 27   % Asian-alone                                                                  3140 non-null   float64
 28   Hawaiian/Pacific Islander-alone pop                                            3140 non-null   int64
 29   % Hawaiian/PI-alone                                                            3140 non-null   float64
 30   Two or more races pop                                                          3140 non-null   int64
 31   % Two or more races                                                            3140 non-null   float64
 32   POP_ESTIMATE_2018                                                              3140 non-null   int64
 33   N_POP_CHG_2018                                                                 3140 non-null   int64
 34   GQ_ESTIMATES_2018                                                              3140 non-null   int64
 35   R_birth_2018                                                                   3140 non-null   float64
 36   R_death_2018                                                                   3140 non-null   float64
 37   R_NATURAL_INC_2018                                                             3140 non-null   float64
 38   R_INTERNATIONAL_MIG_2018                                                       3140 non-null   float64
 39   R_DOMESTIC_MIG_2018                                                            3140 non-null   float64
 40   R_NET_MIG_2018                                                                 3140 non-null   float64
 41   Less than a high school diploma 2014-18                                        3140 non-null   int64
 42   High school diploma only 2014-18                                               3140 non-null   int64
 43   Some college or associate's degree 2014-18                                     3140 non-null   int64
 44   Bachelor's degree or higher 2014-18                                            3140 non-null   int64
 45   Percent of adults with less than a high school diploma 2014-18                 3140 non-null   float64
 46   Percent of adults with a high school diploma only 2014-18                      3140 non-null   float64
 47   Percent of adults completing some college or associate's degree 2014-18        3140 non-null   float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   3140 non-null   float64
 49   POVALL_2018                                                                    3140 non-null   int64
 50   PCTPOVALL_2018                                                                 3140 non-null   float64
 51   PCTPOV017_2018                                                                 3140 non-null   float64
 52   PCTPOV517_2018                                                                 3140 non-null   float64
 53   MEDHHINC_2018                                                                  3140 non-null   int64
 54   CI90LBINC_2018                                                                 3140 non-null   int64
 55   CI90UBINC_2018                                                                 3140 non-null   int64
 56   Civilian_labor_force_2018                                                      3140 non-null   int64
 57   Employed_2018                                                                  3140 non-null   int64
 58   Unemployed_2018                                                                3140 non-null   int64
 59   Unemployment_rate_2018                                                         3140 non-null   float64
 60   Median_Household_Income_2018                                                   3140 non-null   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      3140 non-null   float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            3140 non-null   float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         3140 non-null   float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               3140 non-null   float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  3140 non-null   float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      3140 non-null   float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         3140 non-null   float64
 68   Total nurse practitioners (2019)                                               3140 non-null   float64
 69   Total physician assistants (2019)                                              3140 non-null   float64
 70   Total Hospitals (2019)                                                         3140 non-null   float64
 71   Internal Medicine Primary Care (2019)                                          3140 non-null   float64
 72   Family Medicine/General Practice Primary Care (2019)                           3140 non-null   float64
 73   Total Specialist Physicians (2019)                                             3140 non-null   float64
 74   ICU Beds_x                                                                     3140 non-null   int64
 75   Total Population                                                               3140 non-null   int64
 76   Population Aged 60+                                                            3140 non-null   int64
 77   Percent of Population Aged 60+                                                 3140 non-null   float64
 78   COUNTY_NAME                                                                    3140 non-null   object
 79   STATE_NAME                                                                     3140 non-null   object
 80   STATE_FIPS                                                                     3140 non-null   int64
 81   CNTY_FIPS                                                                      3140 non-null   int64
 82   county_pop2018_18 and older                                                    3140 non-null   int64
 83   anycondition_prevalence                                                        3140 non-null   float64
 84   anycondition_Lower 95% CI                                                      3140 non-null   float64
 85   anycondition_Upper 95% CI                                                      3140 non-null   float64
 86   anycondition_number                                                            3140 non-null   int64
 87   Obesity_prevalence                                                             3140 non-null   float64
 88   Obesity_Lower 95% CI                                                           3140 non-null   float64
 89   Obesity_Upper 95% CI                                                           3140 non-null   float64
 90   Obesity_number                                                                 3140 non-null   int64
 91   Heart disease_prevalence                                                       3140 non-null   float64
 92   Heart disease_Lower 95% CI                                                     3140 non-null   float64
 93   Heart disease_Upper 95% CI                                                     3140 non-null   float64
 94   Heart disease_number                                                           3140 non-null   int64
 95   COPD_prevalence                                                                3140 non-null   float64
 96   COPD_Lower 95% CI                                                              3140 non-null   float64
 97   COPD_Upper 95% CI                                                              3140 non-null   float64
 98   COPD_number                                                                    3140 non-null   int64
 99   diabetes_prevalence                                                            3140 non-null   float64
 100  diabetes_Lower 95% CI                                                          3140 non-null   float64
 101  diabetes_Upper 95% CI                                                          3140 non-null   float64
 102  diabetes_number                                                                3140 non-null   int64
 103  CKD_prevalence                                                                 3140 non-null   float64
 104  CKD_Lower 95% CI                                                               3140 non-null   float64
 105  CKD_Upper 95% CI                                                               3140 non-null   float64
 106  CKD_number                                                                     3140 non-null   int64
 107  Urban_rural_code                                                               3140 non-null   int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

*Once we have obtained this information, it is important that we are able to draw conclusions, such as the following:

-There are a total of 3140 rows (in this case, people) and 108 columns, among which we will find the target or class to predict later   
-We donÂ´t have nulls values     
-The data has 106 numerical characteristics and 2 categorical characteristics.

***Eliminates Duplicates***

In [27]:
total_data.drop('fips', axis = 1).duplicated().sum()

0

*There arenÂ´t duplicates*

*If there were duplicates:*

In [ ]:
# total_data = total_data.drop_duplicates(subset = total_data.columns.difference([''])) --> Column with ID
# print(total_data.shape)
# total_data.head()

***Eliminate irrelevant information***

In [39]:
total_data[total_data.columns[45:60]]

,Bachelor's degree or higher 2014-18,Percent of adults with less than a high school diploma 2014-18,Percent of adults with a high school diploma only 2014-18,Percent of adults completing some college or associate's degree 2014-18,Percent of adults with a bachelor's degree or higher 2014-18,POVALL_2018,PCTPOVALL_2018,PCTPOV017_2018,PCTPOV517_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,Civilian_labor_force_2018,Employed_2018,Unemployed_2018
0,10291,11.3,32.6,28.4,27.7,7587,13.8,19.3,19.5,59338,53628,65048,25957,25015,942
1,46075,9.7,27.6,31.3,31.3,21069,9.8,13.9,13.1,57588,54437,60739,93849,90456,3393
2,2220,27.0,35.7,25.1,12.2,6788,30.9,43.9,36.7,34382,31157,37607,8373,7940,433
3,1813,16.8,47.3,24.4,11.5,4400,21.8,27.8,26.3,46064,41283,50845,8661,8317,344
4,5010,19.8,34.0,33.5,12.6,7527,13.2,18.0,15.5,50412,46157,54667,25006,24128,878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,6243,9.0,33.3,35.7,22.0,3540,8.4,10.0,8.5,73315,67141,79489,21150,20254,896
3136,9847,5.6,13.2,23.8,57.4,1443,6.3,6.7,5.9,99087,88142,110032,15340,14876,464
3137,1995,7.2,40.1,37.2,15.4,2010,10.0,12.1,10.6,63401,56812,69990,8931,8541,390
3138,1220,10.4,30.3,37.7,21.5,918,11.9,16.1,14.5,55190,49263,61117,4058,3886,172
3139,961,7.8,35.8,37.3,19.2,777,11.8,16.1,14.2,54319,48315,60323,3731,3600,131